@charset "UTF-8";

/* 채팅jsp에만 적용되는 섹션,컨테이너 스타일*/
section {
	overflow-x: hidden;
	overflow-y: hidden;
	word-wrap: break-word;
}

#container {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* 여기부터 각자 영역 스타일 설정 */

/* 채팅 전체 레이아웃 */
.chat_title_section {
	height: 50px;
	border-bottom: 1px solid lightgray;
	padding-left: 15px;
	line-height: 50px;
}

.chat_section {
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 130px;
}

.chat_input_section {
	height: 130px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid lightgray;
	padding: 10px;
}

/* 채팅창 섹션 */
.chat_date_box {
	position: relative;
	margin-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #e4e8eb;
	text-align: center;
}

.chat_date_btn {
	position: absolute;
	top: 16px;
	border: 0;
	background-color: white;
	color: gray;
	margin-left: -100px;
}

.chat_date_btn:hover {
	cursor: default;
}

/* 채팅 내용 */
.chat_box {
	overflow: hidden;
	margin-bottom: 20px;
}

.profile {
	float: left;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}

.profile_img {
	width: 100%;
}

.chat_box_in {
	margin-left: 10px;
	overflow: hidden;
	padding-left: 7px;
}

.name {
	font-weight: 600;
	font-size: 17px;
}

.chat {
	border-radius: 10px;
	background-color: #f0f0f0;
	margin: 5px;
	margin-left: 0px;
	float: left;
	clear: both;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
	max-width: 99%;
}

.time {
	float: left;
	color: darkgray;
	font-size: 11px;
	margin-top: 16px;
}

/* 채팅 타이틀 */
.chat_title {
	float: left;
	font-weight: 600;
	font-size: 20px;
}

.chat_person_num {
	float: left;
	padding-left: 10px;
	color: gray;
}

.chat_person_img {
	width: 13px;
	margin-bottom: 2px;
	margin-right: 2px;
}

/* 채팅 입력창 */
.chat_input_box {
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	border: 1px solid lightgray;
	border-radius: 3px;
}

#send_btn {
	position: fixed;
	right: 10px;
	width: 70px;
	height: 50px;
	border: 0;
	border-radius: 2px;
	color: gray;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

#input {
	height: 80px;
	padding: 5px;
	padding-right: 3px;
	margin-right: 85px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* 우클릭시 메뉴 */
#contextmenu {
	border: 1px solid lightgray;
	border-bottom: 0px;
	background-color: #fffdfa;
	width: 80px;
	text-align: center;
	line-height: 22px;
	display: none;
	position: fixed;
	z-index: 10;
}

.c_menu {
	border-bottom: 1px solid lightgray;
	font-size: 13px;
}

.c_menu:hover {
	background-color: #f0f0f0;
	cursor: default;
}

/* 채팅창 아이콘 */
.icon_box {
	margin-left: 5px;
}

.input_icon {
	width: 20px;
	margin: 3px;
	margin-top: 0px;
}

.input_icon:hover {
	cursor: pointer;
}

/* 이모티콘 */
.emoticon_section {
	width: 350px;
	height: 300px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	position: fixed;
	bottom: 40px;
	text-align: center;
	display: none;
}

.emoticon_title {
	border-bottom: 1px solid lightgray;
	height: 50px;
	line-height: 50px;
}

.emoticon_box {
	height: 235px;
	overflow-y: auto;
}

.emoticon {
	width: 75px;
}

.emoticon_box>.emoticon:hover {
	cursor: pointer;
}

/* 코드 편집기 */
.pre {
	height: 100%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin: 0px;
	padding: 0px;
	z-index: 10;
	/*display: none;*/
}

.code_editor {
	height: 100%;
	width: 100%;
	padding: 0px;
	z-index: 10;
	/*display: none;*/
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #333;
}

.hljs {
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}

#file_select {
	display: none;
}

.c_list:hover {
	cursor: pointer;
}
/* 참여자 목록 */
.chat_person_num:hover {
	cursor: pointer;
}

.chat_people {
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 20px;
	z-index: 5;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: white;
	display: none;
}

.chat_person {
	height: 35px;
	line-height: 35px;
}

.participant {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.participant_img {
	width: 100%;
}

/* 오른쪽 파일리스트 버튼 */
.open_file_btn {
	width: 28px;
	right: 13px;
	top: 11px;
	position: absolute;
}

.open_file_btn:hover {
	cursor: pointer;
}

.close_file_btn {
	width: 28px;
	position: absolute;
	left: 15px;
	top: 12px;
}

.close_file_btn:hover {
	cursor: pointer;
}

/* 파일리스트 섹션 */
.file_list_section {
	border-left: 1px solid lightgray;
	position: absolute;
	top: 50px;
	bottom: 0px;
	right: -400px;
	width: 400px;
	background-color: white;
	z-index: 5;
}

.file_header {
	height: 50px;
	border-bottom: 1px solid lightgray;
	text-align: center;
	line-height: 50px;
	font-weight: 600;
	font-size: 18px;
	color: dimgray;
}

.file_contents {
	position: absolute;
	top: 50px;
	bottom: 130px;
	width: 400px;
	overflow-y: auto;
}

.file_input {
	position: absolute;
	bottom: 0px;
	border-top: 1px solid lightgray;
	height: 130px;
	width: 400px;
}

/* 파일 목록 박스 */
.file_list {
	border: 1px solid lightgray;
	width: 350px;
	margin: 20px;
	overflow: hidden;
	padding: 10px;
	border-radius: 5px;
}

.file_img_box {
	float: left;
	width: 50px;
	height: 70px;
	padding-top: 8px;
}

.file_info_box {
	float: left;
	margin-left: 10px;
}

.file_img {
	width: 100%;
}

.file_name {
	font-weight: 600;
	color: black;
}

.file_name>a {
	color: black;
}

.file_name>a:hover {
	text-decoration: underline;
}

.file_date {
	margin-top: -2px;
	margin-bottom: 3px;
	font-size: 14px;
	color: gray;
}

.file_writer {
	font-size: 15px;
	font-weight: 600;
}


/* 채팅에 있는 파일 */
.chat>a{
	color: #2883f3;
	text-decoration: underline;
}
.chat>a:hover{
	text-decoration: underline;
}


/* 파일 첨부됬을때 생기는 파일박스 */
.file_box {
	border: 1px solid lightgray;
	border-radius: 3px;
	float: left;
	padding: 5px;
	position: absolute;
	bottom: 135px;
	left: 10px;
	background-color: white;
	display: none;
}

.file_upload_box {
	border: 0px solid black;
	background-color: white;
	color: dodgerblue;
}

.file_upload_box:hover {
	cursor: default;
}

.file_delete {
	margin-left: 5px;
	float: right;
	color: lightgray;
	border: 0px solid;
	background-color: white;
}

/* copy_box */

