@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

	* {
		font-size: 100%;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
			box-sizing: border-box;
		
	}


/* 헤더 설정 */

header {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 50px;
	background-color: #7dc8c9;
	color: white;
	line-height: 50px;
	text-align: center;
}

.logo {
	float: left;
	width: 150px;
}

.header_menu_list {
	width: 100%;
}

.header_menu {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

.header_sidebar {
	width: 90px;
	float: right;
	line-height: 50px;
}

.logo, .header_menu, .header_sidebar:hover {
	cursor: pointer;
}

/* 오른쪽 사이드바 */

#rightnav {
	position: fixed;
	z-index: 3;
	width: 250px;
	height: 100%;
	background-color: #7dc8c9;
	padding-top: 70px;
	right: -250px;
}

.close_r_nav {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 20px;
	right: 20px;
	color:white;
}

.r_navmenu {
	padding: 20px;
	padding-top: 0px;
	color: white;
}

.close_r_nav, .r_navmenu:hover {
	cursor: pointer;
}

/* 메인 섹션 */
section {
	position: absolute;
	padding-top: 50px;
	padding-left: 250px;
	width: 100%;
	height: 100%;
	display: flex;
}

#container {
	width: 100%;
	height: 100%;
}
