@charset "UTF-8";

@import
	"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

* {
	font-size: 100%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
/* 왼쪽 네비바 설정 */
#leftnav {
	position: fixed;
	padding-top: 50px;
	width: 250px;
	height: 100%;
	border-right: 1px solid lightgray;
	background-color: #fafafa;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
}

.navhome {
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	font-weight: 600;
	border-bottom: 1px solid lightgray;
}

.navtitle {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid lightgray;
	font-weight: 600;
}

.project_home, .navtitle, .navicon:hover {
	cursor: pointer;
}

.navcontents {
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid lightgray;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}

.navicon {
	width: 25px;
	padding-right: 5px;
}

.side_chatting_list {
	padding-top: 5px;
	padding-bottom: 5px;
}

.logon {
	color: limegreen;
} /* 채팅 온라인 초록불 */
.c_list:hover {
	cursor: porinter
}



/* 미니 네비 */
#mininav {
	position: fixed;
	padding-top: 50px;
	width: 60px;
	height: 100%;
	border-right: 1px solid lightgray;
	background-color: #fafafa;
	z-index: 15;
	display: none;
}

.back_btn {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 15px;
	left: 195px;
	display: none;
}

.back_btn:hover {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#leftnav {
		left: -190px;
	}
	#mininav {
		display: block;
	}

	/* 메인 섹션 */
	section {
		padding-left: 60px;
	}
}

#root>ul{
	padding-left: 0px;
}

ul{
	list-style: none;
	margin-left: 0;
	padding-left: 10px;
}

a {
	color: black;
}

a:hover{
	text-decoration: none;
	
}