<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chat">
	
	
	<insert id="insert">
		insert into chat values(chat_seq.nextval, #{project_seq}, #{chatting_seq}, #{writer}, #{chat}, sysdate, #{form_date}, #{time}, #{file_path})
	</insert>
	
	<select id="selectChatList" resultType="pcoop.backend.dto.ChatDTO">
		select * from chat where full_date like ${full_date} and chatting_seq=${chatting_seq} order by time
	</select>
	
	<select id="selectLastChat" resultType="pcoop.backend.dto.ChatDTO">
		select * from chat where full_date like ${full_date} and chatting_seq=${chatting_seq} order by time desc
	</select>
	
	<delete id="delete">
		delete from chat where seq=#{value}
	</delete>
	
	<select id="selectChatSeq" resultType="int">
		select seq from (select * from chat where full_date like sysdate order by time desc) where ROWNUM = 1
	</select>
	
</mapper>