<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chatting">
	
	<insert id="createChatting">
		insert into chatting values(chatting_seq.nextval, #{project_seq}, chatting_num_seq.nextval, #{title}, default, #{member_seq}, #{member_name}, sysdate, default)
	</insert>
	
	
	<select id="selectChattingList" resultType="pcoop.backend.dto.ChattingDTO">
		select * from chatting where project_seq=#{project_seq} and member_seq=#{member_seq} order by type
	</select>
	
	
	<select id="selectChatting" resultType="pcoop.backend.dto.ChattingDTO">
		select * from chatting where chatting_num=${value}
	</select>
	
	
	<select id="selectMainChatting" resultType="pcoop.backend.dto.ChattingDTO">
		select * from (select * from chatting where project_seq=${value} and type='main') where rownum = 1
	</select>
	
	
	<update id="updateMainChatting">
		update chatting set member_count=${member_count} where (project_seq=${project_seq} and type='main')
	</update>
	
	
	<insert id="insertMainMember">
		insert into chatting values(chatting_seq.nextval, ${project_seq}, ${chatting_num}, #{title}, ${member_count}, ${member_seq}, #{member_name}, sysdate, 'main')
	</insert>
	
	
	<select id="projectBelongChatting" resultType="pcoop.backend.dto.ChattingDTO">
		select chatting_num from chatting where project_seq=#{project_seq} and member_seq=#{member_seq}
	</select>
	
	
	<update id="minusChattingCount">
		update chatting set member_count=member_count-1 where chatting_num=#{value}
	</update>
	
	
	<delete id="deleteProjectMember">
		delete from chatting where project_seq=#{project_seq} and member_seq=#{member_seq}
	</delete>
	
	
	<select id="memberBelongChatting" resultType="pcoop.backend.dto.ChattingDTO">
		select chatting_num from chatting where member_seq=#{value}
	</select>
	
	
	<delete id="deleteMemberout">
		delete from chatting where member_seq=#{value}
	</delete>
	
	
	<select id="selectProjectMember" resultType="pcoop.backend.dto.ChattingDTO">
		select * from chatting where project_seq=#{value} and type='main'
	</select>
	
	
	<insert id="createPersonalMember">
		insert into chatting values(chatting_seq.nextval, ${project_seq}, chatting_num_seq.nextval, #{title}, ${member_count}, ${member_seq}, #{member_name}, sysdate, 'personal')
	</insert>
	
	
	<select id="selectPartnerChattingnum" resultType="Integer">
		select chatting_num from chatting where project_seq=${project_seq} and member_seq=${member_seq} and title=#{title} and type='personal'
	</select>
	
	
	<insert id="insertPersonalMember">
		insert into chatting values(chatting_seq.nextval, #{project_seq}, #{chatting_num}, #{title}, #{member_count}, #{member_seq}, #{member_name}, sysdate, 'personal')
	</insert>
	
	
	<select id="selectMyChatting" resultType="pcoop.backend.dto.ChattingDTO">
		select * from chatting where chatting_num=#{chatting_num} and member_seq=#{member_seq} and type='personal'
	</select>
	
</mapper>