<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="List">

	<select id="selectAll" resultType="pcoop.backend.dto.ListDTO">
		select lobilist.id, lobilist.title, lobicard.title title_card,
		lobicard.description, lobicard.duedate
		from lobilist
		left join lobicard
		on lobilist.id = lobicard.listId
		order by lobilist.id
	</select>

	<select id="selectCard" resultType="pcoop.backend.dto.CardDTO">
		select *
		from lobicard
		where listId = #{listId}
	</select>

	<select id="selectList" resultType="pcoop.backend.dto.ListDTO">
		select *
		from lobiList
	</select>


	<insert id="insert">
		insert into lobicard(id, title, description, dueDate, done, listId)
		values( lobicard_seq.nextval, #{title}, #{description}, #{dueDate},'false',
		#{listId})
	</insert>
	<!-- 세미콜론 안붙임 #{value} resultType 이 숫자일경우 int타입 -->
	<!-- #{name} : dto.getName()과 동일 (dao에서 dto가 전달되었으므로) -->
	<!-- ${name}으로 해도 되는데 varchar인 경우 ''가 자동으로 안붙음 -->
	<!-- select 사용할때는 result타입을 작성해야함 -->
	<!--update 는 $가나와야함 -->

	<insert id="update">
		update lobicard
		set title= #{title}, description=#{description}, dueDate=#{dueDate}
		where id=#{id}
	</insert>

	<insert id="delete">
		delete from lobicard where id = #{id}
	</insert>

	<select id="selectListId" resultType="int">
		select count(*) from
		lobiList where id= #{id}
	</select>
	<insert id="insertlist">
		insert into lobiList(id, title, defaultStyle, items)
		values( #{id}, #{title}, 'lobilist-info','')
	</insert>

	<insert id="updatelist">
		update lobiList
		set title= #{title}
		where id=#{id}
	</insert>

	<!--최신 삽입값 조회 -->
	<select id="selectLatestCard"
		resultType="pcoop.backend.dto.CardDTO">
		SELECT *
		FROM(
		SELECT
		*
		FROM lobicard
		ORDER BY ROWNUM DESC)
		WHERE ROWNUM = 1
	</select>

	<insert id="deleteCardByListId">
		delete from lobicard where listId = #{listId}
	</insert>
	<insert id="deleteListById">
		delete from lobilist where id = #{listId}
	</insert>


	<insert id="updatelistStyle">
		update lobiList
		set defaultStyle= #{defaultStyle}
		where id=#{id}
	</insert>

	<insert id="checkboxChange">
		update lobicard
		set done= #{done}
		where id=#{id}
	</insert>

	<insert id="cardListIdUpdate">
		update lobicard
		set listId= #{listId}
		where id=#{id}
	</insert>
</mapper>