@charset "UTF-8";

.dir{
	cursor: pointer;
}

.file {
	cursor: pointer;
}

.file>a{
	color: black;
}

#root>ul{
	padding-left: 0px;
}

ul{
	margin-left: 0;
	padding-left: 10px;
}

.contextmenu, .add_dir, .rename_dir, .rename_file, .contextmenu_container, .upload_context, .file_context{
	display: none;
	position: absolute;
	width: auto;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border-radius: 5px;
	list-style: none;
	box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px
		rgba(0, 0, 0, 0.07);
	overflow: hidden;
	z-index: 999999;
}

.contextmenu li, .add_dir li, .rename_dir li, .rename_file li, .contextmenu_container li, .upload_context li, .file_context li{
	border-left: 3px solid transparent;
	transition: ease .2s;
}

.contextmenu li a, .contextmenu_container li a, .upload_context li a , .file_context li a{
	display: block;
	padding: 10px;
	color: #B0BEC5;
	text-decoration: none;
	transition: ease .2s;
}

.contextmenu li:hover, .contextmenu_container li:hover, .upload_context li:hover, .file_context li:hover{
	background: #7dc8c9;
	border-left: 3px solid #519D9E;
}

.contextmenu li:hover a, .contextmenu_container li:hover a, .upload_context li:hover a, .file_context li:hover a{
	color: #FFFFFF;
}

.add_dir>input, .rename_dir>input, .rename_file>input{
	border: none;
}

.delete_dir, .upload_file, .upload_zip{
	background-color: #7dc8c9;
	color: white;
	border: none;
}

.delete_dir_cancel, .upload_file_cancel, .upload_zip_cancel{
	background-color: lightgray;
	color: white;
	border: none;
}

.backup-path{
	height: 70px;
	font-size: 25px;
	line-height: 70px;
	padding-left: 25px;
}

.list{
	padding: 60px;
}

.dirs>.dir, .file{
	float: left;
	text-align: center;
	height: 100px;
	width: 130px;
	margin: 10px;
	border: 1px solid lightgray;
	border-radius: 20px;
}

.dirs>.dir:hover, .file:hover{
	
}

.icon{
	text-align: center;
	border-round: 90px;
	line-height: 100px;
	height: 64px;
}

.dirs>.dir>.icon{
	color: #f9c00c;
}

.file .icon{
	color: #4F86C6;
}

.icon>span{
	width: 100%;
}

.backup-btns{
	height: 40px;
	line-height:40px;
	padding-left: 25px;
}

.menu_add_dir, .menu_upload, .menu_back_dir{
	cursor: pointer;
	float: left;
}

.btn_upload, .btn_add_dir, .btn_back_dir{
	border: none;
	background: none;
	margin-right: 10px;
}

.btn_upload:focus, .btn_add_dir:focus, .btn_back_dir:focus{
	outline: none;
}
