@charset "UTF-8";

.dir {
	color: black;
	cursor: pointer;
}

.file {
	color: black;
}

#root>ul{
	padding-left: 0px;
}

ul{
	margin-left: 0;
	padding-left: 10px;
}

.contextmenu, .add_dir, .rename_dir, .rename_file, .contextmenu_container {
	display: none;
	position: absolute;
	width: 200px;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border-radius: 5px;
	list-style: none;
	box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px
		rgba(0, 0, 0, 0.07);
	overflow: hidden;
	z-index: 999999;
}

.contextmenu li, .add_dir li, .rename_dir li, .rename_file li, .contextmenu_container li{
	border-left: 3px solid transparent;
	transition: ease .2s;
}

.contextmenu li a, .contextmenu_container li a {
	display: block;
	padding: 10px;
	color: #B0BEC5;
	text-decoration: none;
	transition: ease .2s;
}

.contextmenu li:hover, .contextmenu_container li:hover {
	background: #7dc8c9;
	border-left: 3px solid #519D9E;
}

.contextmenu li:hover a, .contextmenu_container li:hover a{
	color: #FFFFFF;
}

.add_dir>input, .rename_dir>input, .rename_file>input{
	border: none;
}

.delete_dir, .upload_file, .upload_zip{
	background-color: #7dc8c9;
	color: white;
	border: none;
}

.delete_dir_cancel, .upload_file_cancel, .upload_zip_cancel{
	background-color: lightgray;
	color: white;
	border: none;
}

